body {
    line-height: 25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #002347;
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

.text_uppercase {
    text-transform: uppercase !important;
}

.txt_light {
    color: #ededee;
}

.txt_ash {
    color: #7b838a;
}
.txt_dark {
    color: #002347;
}
.bold {
    font-weight: bold;
}
/*Navbar Css */
.header_area {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: backgroung 0.4s, all 0.3s linear;
    overflow: hidden;
    background-color: azure;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.container {
    max-width: 1140px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 25rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.brand {
    width: 50px;
    height: 50px;
    fill: #fdc632;
    margin-bottom: 5px;
    
}

.brand_txt {
    margin: -42.5px 0 0 60px ;
    font-size: 32px;
    color: inherit;
    font-weight: bolder;
    
}
.nav_list {
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 80px;
    line-height: 80px;
    text-transform: capitalize;
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.nav_li {
    margin-right: 45px;
    box-sizing: border-box;
    list-style: none;
}

.nav_li a {
    text-decoration: none;
    color: inherit;

}

.nav_li a:hover {
    color: #fdc632;
    transition: all 0.3s ease-in-out;
}

.active {
    color: #fdc632;
}

.nav_link {
    color: #002347;
    padding: 0px;
    display: inline-block;
}



/* Home banner Css */

.home_banner {
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(./img/banner.jpg) no-repeat right;
    background-size: contain;
    width: 100%;

}

.banner_inner {
    display: flex;
    width: moz-fit-content;
    position: relative;
    left: 100px;


}

.banner_text {
    width: 850px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding: 25px;
    top: 75px;
    transition-duration: 0.4s;

}

.banner_text_small {
    font-size: 25px;
    color: #002347;

}

.banner_text_large {
    margin-top: 0;
    font-size: 48px;
    color: #002347;
    font-weight: bolder;
    line-height: 1.5;
}

.button_container {
    position: relative;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #002347;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 4px 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn1 {
    border-radius: 5px;
    color: #fdc632;
    border: 2px solid #002347;
}

.btn1:hover {
    background-color: transparent;
    color: #002347;
}

.btn2 {
    border-radius: 5px;
    color: #002347;
    background-color: #fdc632;
}

.btn2:hover {
    background-color: #002347;
    color: #fdc632;
}

/* Welcome area */
.section_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.sec_left {
    position: relative;
    padding: 15px;
    margin: 25px;
}

.sec_left img {
    height: 450px;
}
.sec_right {
    display: flex;
    width: 450px;
    margin: 15px;
    text-align: left;
    flex-direction: column;
    
}
.sec_right h2 {
    line-height: 1.25;
    padding: 15px;
    font-size: 42px;
    margin: 0;
}
.sec_txt {

    padding: 15px;
    font-size: 16px;
    margin: 0;
}
/* Feature Area css */
.section_area {
    padding-bottom: 100px;
    display: block;
}

.space_top {
    padding-top: 130px;
}
.section_inner {
    display: flex;
    justify-content: center;
    color: #002347;
}

.inner_header {
    position: absolute;
    padding: 15px;
    font-size: 42px;
    margin: 0;
}

.inner_text {
    position: relative;
    color: #7b838a;
    padding: 15px;
    margin: 25px;
    top: 25px;
    font-style: italic;
    text-transform: uppercase;
}
.card_area {
    display: flex;
    position: inherit;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: row;
}
.class_card {
    position: relative;
    background: #ededee;
    padding: 40px 36px;
    margin: 30px;
    transition:  0.3s ease 0s;
    width: 325px;
    border: none;
}
.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin: 5px;
    fill: #002347;
}
.card_headding {
    padding: 10px;
    margin: 5px;
    font-size: 32px;
}

.card_body {
    color: #002347;
}

.class_card:hover {
    box-shadow: 0 16px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading_center {
    line-height: 1.5;
    text-align: center;
}
.card_img img {
    width: 330px;
    margin: 0;
}

.card_dark {
    background: #002347;
}

/* Tearcher card*/

.card_teacher {
    position: relative;
    background: #ededee;
    margin: 30px;
    transition:  0.3s ease 0s;
    border: none;
}


.card_teacher:hover {
    box-shadow: 0 16px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.t_img {
    margin: 0;
}

.heading_small {
    font-size: 18px;
    text-align: center;
}

/* Footer area*/
.footer {
    color: #ededee;
    background-color: #002347;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer span {
    color: #fdc632;
}

.topic_header {
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:linear-gradient(0deg,rgba(0, 35, 71, 0.8), rgba(0, 35, 71, 0.8)), url(img/electronic.jpg);
    width: 100%;
    height: 500px;
    background-size:cover;
    text-align: center;
     
}
.topic_box {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.topic_text {
    position: relative;
    z-index: 99;
    top: 175px;
    font-size: 42px;
    margin: 0;
}
.topic_text_small {
    position: relative;
    z-index: 99;
    top: 180px;
    font-size: 22px;
}
.topic_body{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    left: 250px

}
.topic_left {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 550px;
}

.topic_cover {
    width: 750px;
    height: 350px;
}

.topic_cover img {
    object-fit: cover;
}
.topic_data {
    color: #002347;
}
.topic_data_heading {
    font-size: 22px;
    border-bottom: 1px #bac1c7 solid;
    line-height: 2;
}

.topic_data_text {
    text-align: left;
    font-size: 16px;
    margin: 0;
    color: #7b838a;

}
.outline_info ul{
    list-style: none;
    padding-left: 0;
}

.outline_info {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 0 10px 10px 0;

}
.outline_data {
    display: flex;
    flex-direction: row;
    background-color: #f0f3fd;
    color: #7b838a;
    justify-content: space-between;
    margin-left: 50px;
    flex-direction: row;
    width: 750px;
    margin-top : 20px;
    padding: 10px;
    padding-left: 15px;

}

.outline_rhs_span {
    margin: 0;
    padding: 15px;
    font-size: 14px;
    margin-right: 10px;
}

.outline_rhs_span:hover{
    background-color: #fdc632;
    border: none;
    color: #002347;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 4px 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.topic_right {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 100px;
}

.topic_details {
    display: block;
    margin-left: 50px;
    margin-top: -17px;
    flex-direction: row;
    width: 500px;

}
.topic_details ul{
    list-style: none;
    padding-left: 0;
}
.topic_info {
    display: flex;
    background-color: #f0f3fd;
    color: #7b838a;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: 0 10px 10px 0;

}
.topic_info_button {
    display: flex;
    margin: 0 10px 10px 0;

}
.topic_info p{
    padding-left: 15px;
    font-weight: bold;
}
.topic_rhs_span {
    margin: 0;
    padding: 15px;
    font-weight: bold;
}

.btn_topic {
    width: 500px;
    margin: 0;
}
.btn_topic:hover{
    color: #002347;
    background-color: #ededee;
    border: 1px solid;
}

.space_top_topic{
    padding-top: 30px;
}

.provide_ratings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviwe_property {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 400px;
    margin: 20px;
}

.rating_txt {
    font-size: 15px;
    width: 35%;
}
.rating_txt_end {
    font-size: 15px;
    padding-left: 50px;
}
.star_container {
    display: flex;
    flex-direction: row;
    fill: #002347;
}
.star {
    width: 25px;
    height: 20px;
    padding-left: 5px;
}
.on {
    fill: #fdc632;
}

.star:hover{
    fill: #fdc632;
}
.topic_textarea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn_submit{
    position: relative;
    margin: 0;
    width: 100px;
    margin: 20px;
    padding: 16px 16px;
    left: 380px;
}

.btn_submit:hover{
    color: #002347;
    background-color: transparent;
    border: 1px #002347 solid;
    

}