body {
    line-height: 25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7b838a;
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none !important;
    background-color: transparent;
    color: inherit;
}

.text_uppercase {
    text-transform: uppercase !important;
}

.txt_light {
    color: #ededee;
}

.txt_ash {
    color: #7b838a;
}
.txt_dark {
    color: #002347;
}
/*Navbar Css */
.header_area {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: backgroung 0.4s, all 0.3s linear;
    overflow: hidden;
    background-color: azure;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.container {
    max-width: 1140px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 25rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav_list {
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 80px;
    line-height: 80px;
    text-transform: capitalize;
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.nav_li {
    margin-right: 45px;
    box-sizing: border-box;
    list-style: none;
    color: black;
}

.nav_li a {
    text-decoration: none;

}

.nav_li a:hover {
    color: #fdc632;
    transition: all 0.3s ease-in-out;
}

.nav_link {
    color: #002347;
    padding: 0px;
    display: inline-block;

}

.active {
    color: #fdc632;
    ;
}

/* Home banner Css */

.home_banner {
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(./img/banner.jpg) no-repeat right;
    background-size: contain;
    width: 100%;

}

.banner_inner {
    display: flex;
    width: moz-fit-content;
    position: relative;
    left: 100px;


}

.banner_text {
    width: 850px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding: 25px;
    top: 75px;
    transition-duration: 0.4s;

}

.banner_text_small {
    font-size: 25px;
    color: #002347;

}

.banner_text_large {
    margin-top: 0;
    font-size: 48px;
    color: #002347;
    font-weight: bolder;
    line-height: 1.5;
}

.button_container {
    position: relative;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #002347;
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 4px 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn1 {
    color: #fdc632;
    border: 2px solid #002347;
}

.btn1:hover {
    background-color: transparent;
    color: #002347;
}

.btn2 {
    color: #002347;
    background-color: #fdc632;
}

.btn2:hover {
    background-color: #002347;
    color: #fdc632;
}

/* Welcome area */
.section_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.sec_left {
    position: relative;
    padding: 15px;
    margin: 25px;
}

.sec_left img {
    height: 450px;
}
.sec_right {
    display: flex;
    width: 450px;
    margin: 15px;
    text-align: left;
    flex-direction: column;
    
}
.sec_right h2 {
    line-height: 1.25;
    padding: 15px;
    font-size: 42px;
    margin: 0;
    text-align: ;
}
.sec_txt {

    padding: 15px;
    font-size: 16px;
    margin: 0;
}
/* Feature Area css */
.section_area {
    padding-bottom: 100px;
    display: block;
}

.space_top {
    padding-top: 130px;
}
.section_inner {
    display: flex;
    justify-content: center;
    color: #002347;
}

.inner_header {
    position: absolute;
    padding: 15px;
    font-size: 42px;
    margin: 0;
}

.inner_text {
    position: relative;
    color: #7b838a;
    padding: 15px;
    margin: 25px;
    top: 25px;
    font-style: italic;
    text-transform: uppercase;
}
.card_area {
    display: flex;
    position: inherit;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: row;
}
.class_card {
    position: relative;
    background: #ededee;
    padding: 40px 36px;
    margin: 30px;
    transition:  0.3s ease 0s;
    width: 325px;
    border: none;
}
.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin: 5px;
    fill: #002347;
}
.card_headding {
    padding: 10px;
    margin: 5px;
    font-size: 32px;
}

.card_body {
    color: #002347;
}

.class_card:hover {
    box-shadow: 0 16px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading_center {
    line-height: 1.5;
    text-align: center;
}
.card_img img {
    width: 330px;
    margin: 0;
}

.card_dark {
    background: #002347;
}

/* Tearcher card*/

.card_teacher {
    position: relative;
    background: #ededee;
    margin: 30px;
    transition:  0.3s ease 0s;
    border: none;
}


.card_teacher:hover {
    box-shadow: 0 16px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.t_img {
    margin: 0;
}

.heading_small {
    font-size: 18px;
    text-align: center;
}

/* Footer area*/
.footer {
    color: #ededee;
    background-color: #002347;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer span {
    color: #fdc632;
}